'fileTypes': [
  'gitattributes'
  'gitignore'
  'conf'
]
'name': 'liquidhaskell'
'patterns': [
  {
    'include': '#liquidcomment'
  }
]
'repository':
  'liquidcomment':
      {
        'contentName': 'block.liquidhaskell'
        'begin': '\\{-@(?!#)'
        'end': '@-\\}'
        'patterns': [
          {
            'include': 'source.haskell'
          }
        ]
      }
'scopeName': 'text.liquidhaskell'
